/*variables de hover*/
$fuente: 5%;
$hover: #19926A;



/*variables de redes*/
$blue: #207b97;
$red: #f57269;
$green: #92d18e;

/*maps*/ 
$estilo: (
    justificado: center,
    display: flex,
    padding: 1rem
);